In [1]:
#fuel databases need to combine 
import pandas as pd
import os
import numpy as np

In [2]:
#Import Data
gas = ('resources/gas_prices.csv')
otherfuels = ('resources/Alternative_fuel_prices.csv')
#Reading CSV file
gas = pd.read_csv(gas)
otherfuel = pd.read_csv(otherfuels)

In [3]:
#data cleaning to pull out year 2000 to current
gas_db= gas[gas['Year']>1999]
gas_db

    Year Gasoline Price ($/gallon)
50  2000                    $1.51
51  2001                    $1.46
52  2002                    $1.36
53  2003                    $1.59
54  2004                    $1.88
55  2005                    $2.30
56  2006                    $2.59
57  2007                    $2.80
58  2008                    $3.27
59  2009                    $2.35
60  2010                    $2.79
61  2011                    $3.53
62  2012                    $3.64
63  2013                    $3.53
64  2014                    $3.37
65  2015                    $2.45
66  2016                    $2.14
67  2017                    $2.41
68  2018                    $2.74
69  2019                    $2.64

In [4]:
otherfuel.columns

Index(['Year', 'Gasoline', 'E85', 'CNG', 'LNG', 'Propane', 'Diesel', 'B20',
       'B2/B5', 'B99/B100', 'Electricity**', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17'],
      dtype='object')

In [5]:
#headers from auto Array(['Regular', 'Premium', 'Diesel', 'CNG', 'Gasoline or natural gas',
  #     'Gasoline or E85', 'Electricity', 'Gasoline or propane',
#       'Premium or E85', 'Midgrade', 'Premium Gas or Electricity',
 #      'Regular Gas and Electricity', 'Premium and Electricity',
  #     'Regular Gas or Electricity'], dtype=object)

In [6]:
#merge gasoline w/other fuel dataset
all_fuels = pd.merge(gas_db,otherfuel, on ="Year")
all_fuels

,Year,Gasoline Price ($/gallon),Gasoline,E85,CNG,LNG,Propane,Diesel,B20,B2/B5,B99/B100,Electricity**,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,2000,$1.51,$1.54,$1.90,$1.02,NaN,$1.76,$1.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,$1.46,$1.27,$1.60,$1.19,NaN,$1.62,$1.19,$1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,$1.36,$1.44,$1.71,$1.17,NaN,$1.66,$1.35,$1.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,$1.59,$1.48,$1.70,$1.35,NaN,$2.21,$1.34,$1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,$1.88,$1.97,$2.30,$1.56,NaN,$2.91,$1.93,$2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2005,$2.30,$2.77,$3.21,$2.12,NaN,$3.50,$2.54,$2.67,$2.54,$3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2006,$2.59,$2.22,$2.81,$1.77,NaN,$3.18,$2.37,$2.43,$2.49,$3.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2007,$2.80,$2.76,$3.20,$1.77,NaN,$3.75,$2.81,$2.82,$2.71,$3.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2008,$3.27,$3.04,$3.99,$2.01,NaN,$4.67,$3.27,$3.69,$3.45,$4.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2009,$2.35,$2.64,$3.21,$1.86,NaN,$3.72,$2.50,$2.63,na,$3.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2010,$2.79,$2.78,$3.45,$1.93,NaN,$3.93,$2.75,$2.86,na,$3.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2011,$3.53,$3.46,$4.51,$2.09,NaN,$4.23,$3.42,$3.57,na,$4.12,$1.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2012,$3.64,$3.82,$4.91,$2.12,NaN,$3.54,$3.70,$3.82,na,$4.32,$1.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2013,$3.53,$3.45,$4.30,$2.09,NaN,$4.09,$3.51,$3.67,na,$4.12,$1.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2014,$3.37,$3.34,$4.07,$2.16,NaN,$4.25,$3.38,$3.48,na,$4.15,$1.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,$2.45,$2.35,$2.84,$2.09,NaN,$3.97,$2.30,$2.39,na,$3.33,$1.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2016,$2.14,$2.22,$2.51,$2.06,$2.43,$3.67,$2.21,$2.21,na,$3.12,$1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2017,$2.41,$2.49,$2.73,$2.17,$2.60,$3.82,$2.46,$2.41,na,$3.31,$1.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2018,$2.74,$2.91,$3.10,$2.19,$2.64,$3.93,$2.99,$2.78,na,$3.57,$1.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2019,$2.64,$2.68,$2.97,$2.20,$2.40,$3.79,$2.74,$2.58,na,$3.65,$1.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#drop columns

all_fuels_db=all_fuels.drop(['Gasoline Price ($/gallon)','LNG','Propane','B2/B5', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17'], axis = 1) 
all_fuels_db.dtypes

Year              int64
Gasoline         object
E85              object
CNG              object
Diesel           object
B20              object
B99/B100         object
Electricity**    object
dtype: object

In [8]:
#Removed the $ signs to convert data types to float
all_fuels_db['Gasoline'] = all_fuels_db['Gasoline'].str.replace('$','')
all_fuels_db['E85'] = all_fuels_db['E85'].str.replace('$','')
all_fuels_db['CNG'] = all_fuels_db['CNG'].str.replace('$','')
all_fuels_db['Diesel'] = all_fuels_db['Diesel'].str.replace('$','')
all_fuels_db['B20'] = all_fuels_db['B20'].str.replace('$','')
all_fuels_db['B99/B100'] = all_fuels_db['B99/B100'].str.replace('$','')
all_fuels_db['Electricity**'] = all_fuels_db['Electricity**'].str.replace('$','')

In [9]:
float_data = all_fuels_db

In [10]:
#convert data type from object to float
float_data['Gasoline'] = float_data['Gasoline'].astype(float)
float_data['E85'] = float_data['E85'].astype(float)
float_data['CNG'] = float_data['CNG'].astype(float)
float_data['Diesel'] = float_data['Diesel'].astype(float)
float_data['B20'] = float_data['B20'].astype(float)
float_data['B99/B100'] = float_data['B99/B100'].astype(float)
float_data['Electricity**'] = float_data['Electricity**'].astype(float)
final_data=float_data

In [11]:
final_data

    Year  Gasoline   E85   CNG  Diesel   B20  B99/B100  Electricity**
0   2000      1.54  1.90  1.02    1.46   NaN       NaN            NaN
1   2001      1.27  1.60  1.19    1.19  1.35       NaN            NaN
2   2002      1.44  1.71  1.17    1.35  1.47       NaN            NaN
3   2003      1.48  1.70  1.35    1.34  1.60       NaN            NaN
4   2004      1.97  2.30  1.56    1.93  2.05       NaN            NaN
5   2005      2.77  3.21  2.12    2.54  2.67      3.30            NaN
6   2006      2.22  2.81  1.77    2.37  2.43      3.21            NaN
7   2007      2.76  3.20  1.77    2.81  2.82      3.28            NaN
8   2008      3.04  3.99  2.01    3.27  3.69      4.59            NaN
9   2009      2.64  3.21  1.86    2.50  2.63      3.14            NaN
10  2010      2.78  3.45  1.93    2.75  2.86      3.76            NaN
11  2011      3.46  4.51  2.09    3.42  3.57      4.12           1.30
12  2012      3.82  4.91  2.12    3.70  3.82      4.32           1.29
13  2013      3.45  4.30  2.09    3.51  3.67      4.12           1.28
14  2014      3.34  4.07  2.16    3.38  3.48      4.15           1.29
15  2015      2.35  2.84  2.09    2.30  2.39      3.33           1.30
16  2016      2.22  2.51  2.06    2.21  2.21      3.12           1.25
17  2017      2.49  2.73  2.17    2.46  2.41      3.31           1.26
18  2018      2.91  3.10  2.19    2.99  2.78      3.57           1.23
19  2019      2.68  2.97  2.20    2.74  2.58      3.65           1.21

In [12]:
#to csv file
final_data.to_csv('resources/fuel.csv')